.square {
    width: 29.2%;
    background-color: purple;
    padding-bottom: 29.2%;
    float: left;
    margin: 2%;
    border-radius: 30%;
    transition: background-color 1s;
    transition: border-radius 1s;
}

.square.winner {
    background-color: gold;
    border-radius: 35%;
}

.square.loser {
    background-color: gray;
    border-radius: 35%;
}